<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Обработка запроса окончена, результаты вы можете посмотреть по ссылке</p>
    <%= link_to @search_query.title, @search_query %>
  </body>
</html>
