<p id="notice"><%= notice %></p>

<p>
  <strong>Search uid:</strong>
  <%= @search_query.search_uid %>
</p>

<p>
  <strong>Locations:</strong>
  <ul>
  <% @search_query.locations.each do |location| %>
    <li><%= "г. #{location.city}, ул. #{location.street}, д. #{location.house} кв. #{location.room}"%></li>
  <% end %>
</ul>
</p>

<%= link_to 'Back', search_queries_path %>
