<p id="notice"><%= notice %></p>

<p>
  <strong>Search uid:</strong>
  <%= @search_query.search_uid %>
</p>

<p>
  <strong>Locations:</strong>
  <ul>
  <% @search_query.locations.each do |location| %>
    <li><%= "#{location.city} #{location.street} #{location.house}" "#{location.room}"%></li>
  <% end %>
</ul>
</p>

<%= link_to 'Back', search_queries_path %>
