<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Hawthorn Reestr Service', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if current_user %>
        <li class="nav-item">
          <%= link_to 'Сайдкик', sidekiq_web_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Запросы', search_queries_path, class: "nav-link" %>
        </li>
      <% else %>
        <%= render "devise/shared/links" %>
      <% end %>
    </ul>
  </div>
</nav>
